* {
    margin: 0;
    padding: 0;
}
 
.background {
    background-color: #A9C9FF;
    background-image: linear-gradient(125deg, #A9C9FF 0%, #FFBBEC 100%);    
    background-size: 200%;
    animation: animation 15s infinite alternate; 
    width: 100%;
    height: 100%;
}

@keyframes animation {
    0% {
       background-position: left;

    }
    
    100% {
        background-position: right;

    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.home > p {
    text-decoration: none;
    text-align: center;
    width: 80%;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 50px;
    padding: 14px;
    transition: all 6.ms ease-in-out;
}

.home > p:hover {
    background-color: #A9C9FF;
}

.home > a {
    text-decoration: none;
    text-align: center;
    width: 80%;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    padding: 14px;
    margin-top: 10px;
    transition: all 6.ms ease-in-out;
} 

.home > a:hover {
    background-color: #7daaf6;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > a {
    text-decoration: solid;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

